blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
coloredlogs==15.0.1
Flask==2.3.3
flatbuffers==23.5.26
hide-warnings==0.17
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
numpy==1.24.4
onnx==1.14.1
onnxruntime==1.15.1
opencv-python==4.8.0.76
packaging==23.1
Pillow==10.0.0
pkg_resources==0.0.0
protobuf==4.24.2
psutil==5.9.5
py==1.11.0
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
sympy==1.12
torch==1.12.0
torchvision==0.13.0
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
zipp==3.16.2
